<!DOCTYPE html>
<html>
<head>
    <title>Daily Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <p>Current mode: {{ role }}</p>

    <a href="/set-role/user">User Mode</a>
    <a href="/set-role/admin">Admin Mode</a>
    <h1>Daily Tracker</h1>
    

    <form action="/add" method="POST">
        <input type="text" name="activity_name" placeholder="Enter an activity">
        <button type="submit">Add Activity</button>
    </form>

    <h2>Your Activities</h2>

    <ul>
    {% for activity in activities %}
        <li class="{% if activity['completed'] == 1 %}completed{% endif %}">
            {{ activity["name"] }}

            {% if activity["completed"] == 0 %}
                <form action="/complete/{{ activity['id'] }}" method="POST" style="display:inline;">
                    <button type="submit">Complete</button>
                </form>
            {% else %}
                <span>Completed</span>
            {% endif %}
        </li>
    {% endfor %}
</ul>
</body>
</html>